body{
    margin: 0px;
}
.flex-container{
    display: flex;
    align-items: flex-start;
    background: #E7F8DB;
}
.header-color{
   background: #E7F8DB; 
}
#icon-box{
    width: 20%;
   /* border: 1px solid;*/
    align-items: flex-start;
}
#icon-style{
    width: 105%;
}
.border-line{
    border: 1px solid;
}
.inner-border-line{
    border: 1px solid green;
    max-width: 100%;
}
.flex-container-inside{
    display: flex;
    flex-direction: column;
    width : 100%;
}
.nav-style{ 
    text-decoration : none;
    padding: 15px;
    color: black;
    display: inline-block;
}
a:hover{
    background: black;
    color: white;
    transition: .5s;
}
#btn-logout{
    background-color: #E7F8DB;
    color: black;
    border: 1px solid black;
    padding: 5px;
    
}
.dropdown-style{
    width: 25vw;
    padding-right: 1vw;
    height: 5%;
    border-radius: 0.5vw;
    background: #D0EBBE;
}
.position-style{
    width: 100%;
}
.dropdown-position{
    padding: 1vw;
}
.profile-avatar{
    width: 95%;
}
#avatar{
    border-radius: 3%;
    overflow: hidden;
    width: 15%
}
.img-box{
    height: 75%;
}
.img-style{
    width: 98%;
    height: 130%; 
}
#second-component{
    height: 30%;
}
#inner-dropdown-div{
    background: white;
    width: 75%;
    border : 1px solid black;
}
.inner-dropdown{
    border: none;
}
#inner-image{
    height: 110%;
}
#third-component{
    background: #F1F1F1;
}
#tc-section-style{
    width: 31%;
    background: #ffffff;
    margin-bottom: 60px;
}
.accordion {
    background: #D0EBBE;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none
 	transition: 0.4s;
    text-align: left;
}

.active, .accordion:hover {
    background-color:  #D0EBBE; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.arrow-style{
    float: right;
}
.text-padding-payments{
    padding:  1vw;
}
.text-padding{
    padding: 20px 10px 0px 20px;
}
.flex-design{
    flex-direction: column;
    padding-left: 1vw;
    width: -webkit-fill-available;
}
#bread-crumb-style{
    background: #ffffff;
    height: 50px;
    padding-top: 1px;
}
#bread-crumb-style-text{
   padding-left: 20px; 
}
#printer-img-style{
    float: right;
    width: 30px;
    padding-right: 1vw;
}
.squar-box{
    width: 35%;
    border-radius: 8%;
    background: green;
    color: #ffffff;
    text-align: center;
}
#squar-position-right{
    background: black;
}
#details-border-style{
    border: 2px solid green;
    padding-right: 10px;
    padding-bottom: 40px;
}
.background-theme{
    background: #FAFFF7;
}
.white-background{
    background: #FFFFFF;
}
.user-detail-style{
    width: 25%;
    padding: 20px 20px;
}
.user-detail-style{
    
}
.right-text-alignment{
    float: right;
}
.table-flex{
    display: flex;
    background: #F0FFE3;
}
.table-flex-div{
    width: 70%;
    padding: 0.5vw;
}
#report-table{
    border-top: 1px solid green;
    overflow-x: scroll;
    padding: 3px 0px 0px;
}
.margin-style{
    margin-top: -2vw;
}
.margin-style-t-password{
   margin-top:  1vw;
}
#password-cnf-form{
    padding: 1vw;
}
.flex-desing-btns{
    display: flex;
    flex-direction: row-reverse;
}
.btn-design{
    width: 90px;
    height: 35px;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 #c6cfd9;
    background-color: #ffffff;
    border: solid 1px #c6cfd9;
}
.proceed-btn{
    width: 110.4px;
    height: 35px;
    border-radius: 2px;
    background-color: #62bd19;
    border: solid 1px #62bd19;
    color: white;
    
}
#gap-between-btn{
    width:5px;
}
.list-style{
    list-style-type:none;
    padding-left: -25px;
}
.list-item-style{
    padding-bottom: 10px;
    padding-left: 15px;
}
.list-style-color{
    background: black;
    color: white;
}
.list-margin{
    margin-left: -40px;
}
#hr{
    width: 10vw;
    height: 3px;
    background: green;
    margin-top: 25px;
    margin-right: 2px;
    margin-left: 2px;
}
.inner-div {
  width: 20%;
  margin: 0 auto;
}
#inner-div-text{
    width: 250px;
    padding-bottom: 15px;
}
#footer-style{
    width: initial;
    height: 93px;
    background-color: #ffffff;
}
#footer-inner-div{
    width: 590px;
    height: 19px;
    margin: 0 auto;
    padding-top: 8px; 
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
#footer-inner-div-below-text{
    width: 420px;
    height: 22px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.4px;
    text-align: center;
    color: #9b9b9b; 
    padding-top: 8px;
}
.footer-bar-style{
   padding: 25px 25px; 
}
#transaction-password-input{
    width: 150px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #d9e0e6;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    
}
#transaction-password-text{
    width: 123px;
    height: 17px;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}
#sidenote-t-password{
    width: 219px;
    height: 10px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
}
.divider-hr{
    background: green;
    width: inherit;
    height: 1px;
}